@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Syne:wght@400..800&family=Belanosima:wght@400;600;700&display=swap');

/* ----------------------- General Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white-text: rgb(255, 255, 255);
    --grey-white: rgb(217, 217, 217);
    --golden-yellow: rgb(255, 183, 3);
}

h1, h2, h3, h4, h5, label, .button, .nav-bar, .social-links a {
    font-family: "Syne", sans-serif;
}

p, textarea {
    font-family: "Nunito", sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
    color: var(--white-text);
}

h4 {
    font-size: 20px;
}

h2, h4 {
    color: rgb(33, 33, 33);
}
h2, h3, h4 {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-weight: 500;
}


/*---------- Heading Border Stylings */
.yellow-border {
    border-bottom: solid 2px var(--golden-yellow);
    max-width: 50%;
    margin: auto;
    margin-bottom: 3rem;
    padding: 1rem;
}

.blue-border-alt {
    max-width: 20%;
}

.blue-border-mid {
    max-width: 30%;
}

.blue-border {
    max-width: 30%;
}

.blue-border-short {
    max-width: 10%;
}

.blue-border-long {
    max-width: 70%;
}

.blue-border-long,  
.blue-border-short, 
.blue-border, 
.blue-border-mid, 
.blue-border-alt {
    border-bottom: solid 5px rgba(30, 73, 107, 0.631);
    margin: auto;
    padding: 1rem;
    margin-bottom: 1.7rem;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

h2, h3, h4, 
.col-30 p, 
.social-links a i , 
.col-20 h4 i, .col-30 h2,  
#remote-recording p {
    text-align: center;
}


/* ----------------------- HEADER SECTION */
/* container for the logo and nav bar section */
.header-container {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 5px;
    position: static;
    top: 0;
}

.logo {
    max-width: 40em;
    margin-left: 2rem;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo a img, .logo a h2, .list-item {
    display: inline;
}

.logo h1 {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 30px;
    color: var(--grey-white);
    margin: auto;
    margin-left: 0;
}

.logo a img{
    max-width: 14%;
    padding: 5px;
}

.nav-bar {
    list-style-type: none;
    margin: 40px;
}


.list-item a {
    margin: 20px;
    letter-spacing: 2px;
    font-size: 17px;
    color: var(--grey-white);
}

.active {
    border-bottom: solid 2px var(--golden-yellow);
    padding-bottom: 0.6rem;
    max-width: 100%; 
}

.drop-down-select {
    display: none;
}


/* ----------------------- FOOTER SECTION */
footer {
    background-color:rgba(30, 73, 107, 0.631);
    width: 100%;
    min-height: 90px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.social-links {
    display: flex;
    width: 100%;
    margin: 50px;
    justify-content: space-around;
}


.social-links i {
    margin: 10px;
}

.social-links i {
    color: var(--grey-white);
}

.social-links a i , .col-20 h4 i{
    display: block;
    font-size: 24px;
}


/* ----------------------- PSEUDO RULES*/
.social-links i:hover {
    color: var(--golden-yellow);
}

.list-item a:hover {
    padding-bottom: 7px;
    border-bottom: solid 2px var(--grey-white);   
}

.list-item a:focus {
    border-bottom: solid 2px var(--golden-yellow);
}

.button:hover {
    background-color: var(--golden-yellow);
    font-size: 17px;
    font-weight: 500;
    color: var(--white-text);
}

.button a:hover {
    color: var(--white-text);
}

input:hover, textarea:hover {
    border: solid 2px rgb(0, 0, 0);
}



/* ------------------------------------------- HOME PAGE */
/* ----------------------- Hero Image */
.hero-image-container {
    height: 90vh;
    margin: 0;
}

.hero-image {
    background-image: url('../images/hero-image.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    position: absolute;
    width: 55%;
    bottom: 70px;
    left: 60px;
}

.description h2 {
    font-weight: 500;
    font-size: 28px;
    color: var(--white-text);
    margin: 0;
}

.description h3 {
    font-weight: 400;
    font-size: 17px;
    color: var(--golden-yellow);
}

.description h2, .description h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
}

audio {
    width: 400px;
}

.audio {
    width: 25%;
    position: absolute;
    bottom: 7rem;
    right: 2rem;
}


/* ----------------------- ABOUT ME SECTION*/
.col-30 {
    width: 40%;
    padding: 0.5rem;
}

.col-30 img {
    width: 100%;
    height: 100%;
}

.col-30 p {
    margin-inline: 1.5rem;
    color: rgb(0, 0, 0);
    margin-bottom: 1.5rem;
    height: auto;

    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.8rem;
}



/* ----------------------- VIDEOS SECTION */
video {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.no-padding {
    padding: 0;
}


/* ----------------------- BUTTON STYLING */

.button {
    display: flex;
    justify-content: center;

    padding: 20px;
    font-size: 17px;
    font-weight: 400;
    margin: auto;
    margin-top: 5rem;
    cursor: pointer;
    
    border-width: 0;
}

.button a {
    color: rgb(40, 40, 40);
}


/* ------------------------------------------- SERVICES PAGE */
.row-background {
    background-color: rgb(176, 183, 192);
}

/* ---------- REMOTE RECORDING SECTION */
.col-70 {
    background-image: url("../images/studio-kit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 70%;
    height: 500px;
    margin-bottom: 5rem;
    
    color: var(--white-text);
}

.col-70 div {
    width: 100%;
    height: 100%;
    padding-inline: 4.5rem;   
}

.heading-color {
    color: rgb(239, 239, 239);
}

#remote-recording {
    background-color: rgba(0, 0, 0, 0.659);
    border-radius: 8px;
    width: 100%;  
    height: 100%;  
    padding-block: 2rem;
}

#remote-recording p {
    color: var(--white-text);
    margin: 2rem;
    margin-inline: 4rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 2.5rem;
    text-indent: 5px;
}

/* ---------- The Process Section */
.col-20 {
    width: 20%;
    height: 400px;
    padding: 0.5rem;
    margin-inline: 2.5rem;
}

.col-20 p{
    margin-top: 1rem;
    margin-inline: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 22px;
    text-indent: 5px;
}

.col-20 h4 i{
    margin-bottom: 1rem;
}

/* ----------- Live & Studio Services Section */

.col-40 {
    width: 40%;
    height: 600px;
    background-color:rgba(24, 24, 24, 0.316);
    padding: 1.3rem;
    padding-block: 2rem;
    margin: 2rem;
}

.col-40 p{
    font-size: 17px;
    margin-inline: 4rem;
    line-height: 2rem;
    color: var(--white-text);
}


/* ------------------------------------------- GALLERY PAGE */

.img-row {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 1rem;
}

.col-33 {
    flex: 33%;
    max-width: 33%;
    padding: 1rem;
}

.col-33 img {
    margin-top: 1rem;
    width: 100%;
    vertical-align: middle;

}


/* ------------------------------------------- CONTACT PAGE */

fieldset {
    width: 60%;
    margin: auto;
    border: none;
    margin-top: 0;
}

label {
    font-size: 16px;
    font-weight: 600;
}


input {
    height: 35px;
    display: block;
    margin-bottom: 2rem;
}

textarea {
    height: 200px;
}

input, textarea {
    width: 100%;
    border: solid 2px darkgrey;
    padding: 2rem;
    font-size: 16px;
    margin-top: 1rem;
}




/* ---------------------------------------- MEDIA QUERIES */
/* ---------------------------- EXTRA SMALLSCREENS */
@media screen and (max-width:600px) {
    h2 {
        font-size: 22px;
        margin-top: 0rem;
        margin-bottom: 4rem;
    }
    
    h3 {
        font-size: 20px;
        margin-top: 0rem;
    }
    
    
    h4 {
        font-size: 18px;
        margin-bottom: 1.3rem;
    }

    .nav-bar {
        display: none;
    }

    select {
        background: rgba(100, 100, 100, 0.316);
        padding: 1rem;
        padding-right: 4rem;
        font-size: 1rem;
        color: var(--grey-white);
        border: none;
    }

    .drop-down-select {
        display: block;
        margin-right: 2rem;
        position: relative;
    }

    .drop-down-arrow {
        display: block;
        background: rgb(152, 157, 165);
        width: 30%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
    }

    .drop-down-arrow::before, 
    .drop-down-arrow::after {
        --arrowsize: .6rem;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
    
        transform: translate(-50%, -50%);
    }

    .drop-down-arrow:before {
        border-right: var(--arrowsize) solid transparent ;
        border-left: var(--arrowsize) solid transparent;
        border-top: var(--arrowsize) solid var(--grey-white);
        top: 62%;
    }

    .drop-down-arrow:after {
        border-right: var(--arrowsize) solid transparent ;
        border-left: var(--arrowsize) solid transparent;
        border-bottom: var(--arrowsize) solid var(--grey-white);
        top: 35%;
    }

    .row {
        padding: 0;
    }
    
   .col-20 {
        width: 100%;
        height: auto;
        margin-bottom: 1.3rem;
    } 

    .col-20 p {
        font-size: 14px;
        line-height: 1.3rem;
    }

    
    .col-30 {
        width: 100%;
        padding: 1rem;
    }

    .col-30 p {
        margin: 0;
        margin-bottom: 1.5rem;
        line-height: 1.5rem;
        font-size: 16px;
    }

    .col-40 {
        width: 100%;
        height: auto;
        padding-inline: 1.5rem;
        margin: 1rem;
    }

    .col-40 p {
        font-size: 16px;
        margin-inline: 0;
    }

    .col-70 {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .col-30 h2 {
        font-size: 22px;
        margin-bottom: 1rem;
    }

    .col-70 div {
        padding-inline: 1.5rem;
        text-align: center;
    }


    #remote-recording p {
        margin-inline: 0rem;
        font-size: 16px;
    }

    .col-33 {
        max-width: 100%;
        flex: none;
    }

    .logo {
        max-width: 40%;
        margin-left: 2rem;
        margin-block: 1rem;
    }


    .logo h1 {
        display: none;
    }
    
    
    .logo a img{
        max-width: 70%;
    }

    .description {
        max-width: 100%;
        left: 0;
        margin-left: 1.5rem;
    }

    .description h2 {
        font-size: 24px;
        margin: 0;
        margin-bottom: 0.5rem;
    }
    
    
    .description h3 {
        font-size: 18px;
        margin-bottom: 2rem;
    }


    .hero-image {
        background-size: cover;
        background-position: center center;
        height: 95%;
    }


    .audio {
        width: 100%;
        /* margin-top: rem; */
    }


    audio {
        width: 60%;
        position: absolute;
        left: 0;
        margin-top: 1.3rem;
        margin-left: 3rem;
    }

    .button {
        padding: 15px;
        font-size: 14px;
        margin-block: 2rem;
    }


    .blue-border-short {
        max-width: 30%;
    }

    .blue-border {
        max-width: 34%;
    }

    .blue-border-alt {
        max-width: 30%;
    }

    .blue-border-mid {
        max-width: 50%;
    }

    .blue-border-long {
        max-width: 80%;
    }

    .yellow-border {
        max-width: 60%;
    }

    .yellow-border-long {
        max-width: 80%;
    }


    .img-row {
        padding: 0;
    }


    .top-margin {
        margin-top: 2rem;
    }


    footer {
        height: auto;
        flex-wrap: nowrap;
        padding: 0;
    }
    

    .social-links i {
        margin: auto;
    }


    .social-links a i , .col-20 h4 i{
        font-size: 18px;
    }

    fieldset {
        width: 100%;
        padding: 1rem;
    }

    input {
        height: 15px;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    input, textarea {
        margin-top: 0.2rem;
    }

    label {
        font-size: 12px;
    }

}

/* --------------------------------- SMALL SCREENS */
@media screen and (min-width: 601px) and (max-width: 767px) {
    h2 {
        font-size: 26px;
        margin-top: 0rem;
        margin-bottom: 4rem;
    }
    
    h3 {
        font-size: 22px;
        margin-top: 0rem;
    }
    
    
    h4 {
        font-size: 20px;
        margin-bottom: 1.3rem;
    }

    .row {
        padding: 0;
    }
    

    .nav-bar {
        display: none;
    }

    select {
        background: rgba(100, 100, 100, 0.316);
        padding: 1rem;
        padding-right: 4rem;
        font-size: 1rem;
        color: rgb(217, 217, 217);
        border: none;
    }

    .drop-down-select {
        display: block;
        margin-right: 2rem;
        margin-block: 2rem;
        position: relative;
    }

    .drop-down-arrow {
        display: block;
        background: rgb(152, 157, 165);
        width: 30%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
    }

    .drop-down-arrow::before, 
    .drop-down-arrow::after {
        --arrowsize: .6rem;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
    
        transform: translate(-50%, -50%);
    }

    .drop-down-arrow:before {
        border-right: var(--arrowsize) solid transparent ;
        border-left: var(--arrowsize) solid transparent;
        border-top: var(--arrowsize) solid rgb(217, 217, 217);
        top: 62%;
    }

    .drop-down-arrow:after {
        border-right: var(--arrowsize) solid transparent ;
        border-left: var(--arrowsize) solid transparent;
        border-bottom: var(--arrowsize) solid rgb(217, 217, 217);
        top: 35%;
    }


   .col-20 {
        width: 70%;
        height: auto;
        margin-bottom: 1.3rem;
    } 

    .col-20 p {
        font-size: 16px;
        line-height: 1.5rem;
    }

    
    .col-30 {
        width: 80%;
        padding: 1rem;
    }

    .col-30 p {
        margin: 0;
        font-size: 18px;
        text-align: center;
        margin-bottom: 1rem;
        line-height: 1.8rem;
    }


    .col-40 {
        width: 80%;
        height: auto;
        padding-inline: 2.5rem;
        margin: 1rem;
    }

    .col-40 p {
        font-size: 18px;
        margin-inline: 0;
    }

    .col-70 {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .col-30 h2 {
        margin: auto;
        font-size: 26px;
        margin-bottom: 1rem;
    }

    .col-70 div {
        padding-inline: 2.5rem;
        text-align: center;
    }


    #remote-recording p {
        margin-inline: 0rem;
        font-size: 18px;
    }

    .col-33 {
        max-width: 33.3%;
        flex: none;
    }

    .logo h1 {
        font-size: 26px;
        /* display: none; */
    }

    .hero-image {
        background-size: cover;
        background-position: center center;
        height: 100%;
    }


    .description {
        left: 0;
        position: absolute;
        bottom: 0;
        margin-left: 1.5rem;
    }

    .description h2 {
        font-size: 26px;
        margin: 0;
        margin-bottom: 0.5rem;
    }
    
    
    .description h3 {
        font-size: 20px;
        margin-bottom: 5.5rem;
    }

    .audio {
        width: 90%;
        left: 0;
        bottom: 0;
        padding-bottom: 1rem;
    }


    audio {
        width: 60%;
        top: 0;
        margin-left: 1rem;
        margin-top: 0.5rem;
    }

    .button {
        padding: 18px;
        font-size: 18px;
        margin-block: 2rem;
    }

    .blue-border-alt {
        max-width: 30%;
    }

    .blue-border-short {
        max-width: 25%;
    }

    .blue-border {
        max-width: 30%;
    }

    .blue-border-mid {
        max-width: 40%;
    }

    .blue-border-long {
        max-width: 60%;
    }

    .yellow-border-long {
        max-width: 70%;
    }
    
    .img-row {
        padding: 0;
    }

    .top-margin {
        margin-top: 2rem;
    }


    footer {
        height: auto;
        flex-wrap: nowrap;
        padding: 0;
    }
    

    .social-links i {
        margin: auto;
    }


    .social-links a i , .col-20 h4 i{
        font-size: 22px;
    }

    fieldset {
        width: 80%;
        padding: 1rem;
    }

    input {
        height: 15px;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    input, textarea {
        margin-top: 0.2rem;
    }

    label {
        font-size: 12px;
    }
}

/* ---------------------------------- MEDIUM SIZED SCREENS */
@media screen and (min-width: 768px) and (max-width: 990px){

    h2 {
        font-size: 28px;
        margin-top: 0rem;
        margin-bottom: 4rem;
    }
    
    h3 {
        font-size: 26px;
        margin-top: 0rem;
    }
    
    
    h4 {
        font-size: 24px;
        margin-bottom: 1.3rem;
    }

    .row {
        padding: 0;
    }

    .nav-bar {
        display: none;
    }

    select {
        background: rgba(100, 100, 100, 0.316);
        padding: 1rem;
        padding-right: 4rem;
        font-size: 1rem;
        color: rgb(217, 217, 217);
        border: none;
    }

    .drop-down-select {
        display: block;
        margin-right: 2rem;
        margin-block: 2rem;
        position: relative;
    }

    .drop-down-arrow {
        display: block;
        background: rgb(152, 157, 165);
        width: 30%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
    }

    .drop-down-arrow::before, 
    .drop-down-arrow::after {
        --arrowsize: .6rem;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
    
        transform: translate(-50%, -50%);
    }

    .drop-down-arrow:before {
        border-right: var(--arrowsize) solid transparent ;
        border-left: var(--arrowsize) solid transparent;
        border-top: var(--arrowsize) solid rgb(217, 217, 217);
        top: 62%;
    }

    .drop-down-arrow:after {
        border-right: var(--arrowsize) solid transparent ;
        border-left: var(--arrowsize) solid transparent;
        border-bottom: var(--arrowsize) solid rgb(217, 217, 217);
        top: 35%;
    }

    
   .col-20 {
        width: 60%;
        height: auto;
        margin-bottom: 1.3rem;
    } 

    .col-20 p {
        font-size: 16px;
        line-height: 1.6rem;
    }

    
    .col-30 {
        width: 80%;
        padding: 1rem;
    }


    .col-30 p {
        margin: 0;
        font-size: 18px;
        margin-bottom: 1rem;
        text-align: center;
    }

    .col-40 {
        width: 60%;
        height: auto;
        padding-inline: 2.5rem;
        margin: 1rem;
    }

    .col-40 p {
        font-size: 18px;
        margin-inline: 0;
        line-height: 2.2rem;
    }

    .col-70 {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .col-30 h2 {
        margin: auto;
        font-size: 28px;
        margin-bottom: 1rem;
    }

    .col-70 div {
        padding-inline: 2.5rem;
        text-align: center;
    }


    #remote-recording p {
        margin-inline: 0rem;
        font-size: 18px;
    }

    .col-33 {
        max-width: 33.3%;
        flex: none;
    }

    .logo h1 {
        font-size: 27px;
    }

    .description {
        left: 0;
        padding-left: 3rem;

    }

    .description h2 {
        font-size: 28px;
        margin: 0;
        margin-bottom: 0.5rem;
    }
    
    
    .description h3 {
        font-size: 24px;
        margin-bottom: 1rem;
    }


    .hero-image {
        background-size: cover;
        background-position: center center;
        height: 100%;
    }


    .audio {
        width: 70%;
        /* position: absolute; */
        left: 0;
    }


    audio {
        width: 70%;
        position: absolute;
        margin-top: 2.5rem;
        margin-left: 2rem;
    }

    .button {
        padding: 18px;
        font-size: 20px;
        margin-block: 2rem;
    }

    .blue-border-alt {
        max-width: 25%;
    }

    .blue-border-short {
        max-width: 20%;
    }

    .blue-border {
        max-width: 25%;
    }

    .blue-border-mid {
        max-width: 30%;
    }

    .blue-border-long {
        max-width: 60%;
    }

    .yellow-border {
        max-width: 60%;
    }

    .yellow-border-long {
        max-width: 80%;
    }

    .img-row {
        padding: 0;
    }

    .top-margin {
        margin-top: 2rem;
    }


    footer {
        height: auto;
        flex-wrap: nowrap;
        padding: 0;
    }
    

    .social-links i {
        margin: auto;
    }


    .social-links a i , .col-20 h4 i{
        display: block;
        font-size: 24px;
    }

    fieldset {
        width: 80%;
        padding: 1rem;
    }

    input {
        height: 15px;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    input, textarea {
        margin-top: 0.2rem;
    }

    label {
        font-size: 12px;
    }
}

/* ---------------------------------- LARGE SCREENS */
@media screen and (min-width: 991px) and (max-width: 1024px){

    h2 {
        font-size: 28px;
        margin-top: 0rem;
        margin-bottom: 4rem;
    }
    
    h3 {
        font-size: 25px;
        margin-top: 0rem;
    }
    
    
    h4 {
        font-size: 23px;
        margin-bottom: 1.3rem;
    }

    .row {
        padding: 0;
    }

    .nav-bar {
        display: none;
    }

    select {
        background: rgba(100, 100, 100, 0.316);
        padding: 1rem;
        padding-right: 4rem;
        font-size: 1rem;
        color: var(--grey-white);
        border: none;
    }

    .drop-down-select {
        display: block;
        margin-right: 2rem;
        margin-block: 2rem;
        position: relative;
    }

    .drop-down-arrow {
        display: block;
        background: rgb(152, 157, 165);
        width: 30%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
    }

    .drop-down-arrow::before, 
    .drop-down-arrow::after {
        --arrowsize: .6rem;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
    
        transform: translate(-50%, -50%);
    }

    .drop-down-arrow:before {
        border-right: var(--arrowsize) solid transparent ;
        border-left: var(--arrowsize) solid transparent;
        border-top: var(--arrowsize) solid rgb(217, 217, 217);
        top: 62%;
    }

    .drop-down-arrow:after {
        border-right: var(--arrowsize) solid transparent ;
        border-left: var(--arrowsize) solid transparent;
        border-bottom: var(--arrowsize) solid rgb(217, 217, 217);
        top: 35%;
    }

    
   .col-20 {
        width: 30%;
        height: auto;
        margin-bottom: 1.3rem;
    } 

    .col-20 p {
        font-size: 16px;
        line-height: 1.5rem;
    }

    
    .col-30 {
        width: 60%;
        padding: 1rem;
    }


    .col-30 p {
        margin: 0;
        font-size: 18px;
        margin-bottom: 1rem;
        line-height: 1.8rem;
        text-align: center;
    }

    .col-40 {
        width: 60%;
        height: 550px;
        padding-inline: 2.5rem;
        margin: 1rem;
    }

    .col-40 p {
        font-size: 18px;
        margin-inline: 0;
        margin-bottom: 1rem;
    }

    .col-70 {
        width: 90%;
        height: auto;
        justify-content: center;
    }

    .col-30 h2 {
        margin: auto;
        font-size: 28px;
        margin-bottom: 1rem;
    }

    .col-70 div {
        padding-inline: 2.5rem;
        text-align: center;
    }


    #remote-recording p {
        margin-inline: 2rem;
        font-size: 18px;
    }

    .col-33 {
        max-width: 33.3%;
        flex: none;
    }

    .logo h1 {
        font-size: 28px;
    }

    .description {
        left: 0;
        bottom: 0;
        padding-left: 3.5rem;
    }

    .description h2 {
        font-size: 28px;
        margin: 0;
        margin-bottom: 0.5rem;
    }
    
    
    .description h3 {
        font-size: 23px;
    }


    .hero-image {
        background-size: cover;
        background-position: center center;
        height: 100%;
    }


    .audio {
        width: 60%;
    }


    audio {
        width: 70%;
        position: absolute;
        right: 0;
        margin-right: 1.5rem;
    }

    .button {
        padding: 20px;
        font-size: 20px;
        margin-block: 2rem;
    }

    .blue-border-alt {
        max-width: 25%;
    }


    .blue-border-short {
        max-width: 15%;
    }

    .blue-border {
        max-width: 18%;
    }

    .blue-border-mid {
        max-width: 25%;
    }

    .blue-border-long {
        max-width: 40%;
    }

    .yellow-border-long {
        max-width: 70%;
    }
    
    .img-row {
        padding: 0;
    }

    .top-margin {
        margin-top: 2rem;
    }


    footer {
        height: auto;
        flex-wrap: nowrap;
        padding: 0;
    }
    
    .social-links i {
        margin: auto;
    }

    .social-links a i , .col-20 h4 i{
        font-size: 22px;
    }

    fieldset {
        width: 60%;
        padding: 1rem;
    }

    input {
        height: 15px;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    input, textarea {
        margin-top: 0.2rem;
    }

    label {
        font-size: 12px;
    }
}

/* --------------------------------- EXTRA LARGE SCREENS */
@media screen and (min-width: 1025px) and (max-width: 1651px) {
    h2 {
        font-size: 28px;
        margin-top: 0rem;
        margin-bottom: 4rem;
    }
    
    h3 {
        font-size: 26px;
        margin-top: 0rem;
    }
    
    
    h4 {
        font-size: 24px;
        margin-bottom: 1.3rem;
    }

    .row {
        padding: 0;
    }
    
   .col-20 {
        width: 30%;
        height: auto;
        margin-bottom: 1.3rem;
    } 

    .col-20 p {
        font-size: 17px;
        line-height: 1.4rem;
    }

    
    .col-30 {
        width: 60%;
        padding: 1rem;
    }


    .col-30 p {
        margin: 0;
        font-size: 19px;
        line-height: 2rem;
        margin-block: 1rem;
        text-align: center;
    }

    .col-40 {
        width: 60%;
        height: 650px;
        padding-inline: 3rem;
        margin: 1rem;
    }

    .col-40 p {
        font-size: 19px;
        margin-inline: 0;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }

    .col-70 {
        width: 90%;
        height: auto;
        justify-content: center;
    }

    .col-30 h2 {
        margin: auto;
        font-size: 28px;
        margin-bottom: 1rem;
    }

    .col-70 div {
        padding-inline: 2.5rem;
        text-align: center;
    }


    #remote-recording p {
        margin-inline: 1rem;
        font-size: 19px;
        text-align: center;
    }

    .col-33 {
        max-width: 33.3%;
        flex: none;
    }

    .logo h1 {
        font-size: 25px;
    }

    .nav-bar {
        width: 100%;
    }

    .list-item a {
        margin-inline: 12px;
        font-size: 18px;
    }

    .description {
        left: 0;
        bottom: 0;
        margin-left: 1.8rem;
    }

    .description h2 {
        font-size: 28px;
        margin: 0;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
    }
    
    
    .description h3 {
        font-size: 26px;
        margin-left: 2rem;
    }


    .hero-image {
        background-size: cover;
        background-position: center center;
        height: 100%;
    }


    .audio {
        width: 60%;
    }


    audio {
        width: 70%;
        position: absolute;
        right: 0;
        margin-right: 2rem;
        margin-top: 0.5rem;
    }

    .button {
        padding: 20px;
        font-size: 20px;
        margin-block: 2rem;
    }

    .blue-border-alt {
        max-width: 25%;
    }


    .blue-border-short {
        max-width: 15%;
    }

    .blue-border {
        max-width: 20%;
    }

    .blue-border-mid {
        max-width: 25%;
    }

    .blue-border-long {
        max-width: 40%;
    }

    .yellow-border-long {
        max-width: 60%;
    }
    
    .img-row {
        padding: 0;
    }

    .top-margin {
        margin-top: 2rem;
    }

    footer {
        height: auto;
        flex-wrap: nowrap;
        padding: 0;
    }

    .social-links i {
        margin: auto;
    }


    .social-links a i , .col-20 h4 i{
        font-size: 22px;
    }

    fieldset {
        width: 60%;
        padding: 1rem;
    }

    input {
        height: 15px;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    input, textarea {
        margin-top: 0.2rem;
    }

    label {
        font-size: 12px;
    }
}